body {
  background-color: #181818;
  color: #81f265;
  margin-left: 5%;
}

.container {
  margin-left: 20%;
  margin-right: 50%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  border-radius: 10px;
}

.container canvas {
  border-radius: 4px;
}
